.tag {
    --color-gray: #dee1e4;
    --color-secondary: #fff2f2;
    display: inline-flex;
    padding: 6px 10px;
    margin: 0 8px 8px 0;
    border-radius: 16px;
    font-size: 12px;
    line-height: 1.16;
    text-transform: uppercase;

    &_base {
        border: 1px solid var(--color-gray);
    }

    &_secondary {
        border: 1px solid var(--color-secondary);
        background-color: var(--color-secondary);
    }
}
