.skills-tag {
    width: max-content;
    display: block;

    &__content {
        height: 24px;
        line-height: 24px;
        background-color: var(--color-gray-20);
        font-size: 12px;
        padding: 6px 10px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        border-radius: 20px;
        text-align: center;
        font-weight: 400;
        position: relative;
    }
}
