.project-request {

    &__form {
        display: grid;
        grid-gap: 24px;

        &_hide {
            display: none;
        }
    }

    &__field-group {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 24px;
    }

    &__append {
        display: inline-block;
        font-size: 12px;
        line-height: 1.16;
        color: var(--color-blue-primary);
        margin-top: 12px;
    }
}
