.verify-icon {

    &__apply {
        fill: var(--color-light-green);

        & > g {
            fill: var(--color-dark-green);
        }
    }

    &__warning {
        fill: var(--color-light-orange);

        & > g {
            fill: var(--color-dark-orange);
        }
    }
}
