.fun-points {

    &__content {
        display: grid;
        grid-gap: 32px;
    }

    &__empty {
        margin-top: 24px;
    }

    &__generate {
        display: flex;
        justify-content: center;
    }
}
