.modules-list {

    &__item-title {
        display: grid;
        grid-template-columns: 1fr min-content;
        align-items: center;
        text-decoration: none;
    }

    &__empty {
        margin-top: 24px;
    }
}
