.empty {
    font-size: 14px;
    line-height: 16px;
    color: var(--color-black);
    display: block;

    &_center {
        text-align: center;
    }

    &_left {
        text-align: left;
    }

    &_right {
        text-align: right;
    }
}
