.edit-requirements {

    &__tab-content {
        margin-top: 32px;
    }

    &__position {
        display: grid;
        grid-template-columns: 1fr auto;
        grid-gap: 16px;
        align-items: center;
    }

    &__name-gap {
        margin-bottom: 32px;
    }

    &__empty {
        font-size: 14px;
    }

    &__skills {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
    }
}
