.modal-footer-submit {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: min-content min-content;
    align-items: center;
    justify-content: flex-end;
    column-gap: 12px;
}
