.section {
    background-color: var(--color-white);
    box-shadow: 0 1px 1px var(--color-shadow);
    border-radius: 4px;
    padding: 32px 32px 24px;

    &_without-paddings {
        padding: 0;
    }
}
