.main {
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    &__buttons {
        margin-top: 50px;
        display: grid;
        grid-gap: 32px;
        grid-auto-flow: column;
    }
}
