.customer {

    &__section-header {
        margin-bottom: 12px;
    }

    &__header-action {
        display: grid;
        align-items: center;
        grid-gap: 16px;
        grid-template-columns: 40px 1fr;
    }
}
