.section {

    &__content-list-item {
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: 150px 1fr;
        grid-gap: 16px;
        color: var(--color-black);
        white-space: pre-wrap;
        align-items: baseline;
    }
}
