.common-dict {
    display: grid;
    grid-row-gap: 24px;

    &__header {
        display: grid;
        grid-template-columns: 1fr auto;
        grid-column-gap: 24px;
    }

    &__header-form {
        display: flex;
        gap: 12px;
    }

    &__button {
        justify-self: flex-start;
    }
}
