.section__content-list {
    display: grid;
    grid-auto-flow: row;
    grid-row-gap: 16px;
    margin-top: 16px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.25;
}
