.career-form {
    display: grid;
    font-size: 14px;
    line-height: 1.4;
    grid-gap: 24px;

    &__item {
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: 104px 1fr;
        grid-gap: 32px;
        align-items: baseline;

        &_dates {
            grid-template-columns: 104px 1fr auto 1fr;
        }
    }

    &__label {
        font-weight: 500;
    }
}
