.tooltip {
    z-index: 5;
    background: var(--color-white);
    box-shadow: 0 0 10px var(--color-shadow);
    border-radius: 5px;
    max-width: 320px;
    padding: 16px;
    box-sizing: border-box;
    border: solid 1px var(--color-shadow);
    font-family: var(--font-family-montserrat);
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
}
