.docx {
    color: var(--color-blue-primary);
    text-decoration: underline;
    text-decoration-style: dashed;
    text-decoration-thickness: from-font;
    text-underline-offset: 2px;

    @media (hover: hover) and (pointer: fine) {

        &:hover {
            cursor: pointer;
        }
    }
}
