.main-info {

    &__header {
        display: grid;
        grid-gap: 16px;
        grid-template-columns: 40px 1fr;
        align-items: center;
    }

    &__gap-bottom {
        margin-bottom: 12px;
    }
}
